@model inmobiliariaVGM.Models.Contrato

@{
    ViewData["Title"] = "Crear Contrato";
    var listaInmuebles = (List<Inmueble>)ViewBag.listaInmuebles;
    var listaInquilinos = (List<Inquilino>)ViewBag.listaInquilinos;
}

<h1>Crear Contrato</h1>

<h4>Contrato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fecha_Inicio" class="control-label"></label>
                <input asp-for="Fecha_Inicio" class="form-control" />
                <span asp-validation-for="Fecha_Inicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_Fin" class="control-label"></label>
                <input asp-for="Fecha_Fin" class="form-control" />
                <span asp-validation-for="Fecha_Fin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
          <div class="form-group">
                <label class="control-label">Inmueble</label>
                <select class="form-control" name="Id_Inmueble">
                    @foreach (var item in listaInmuebles)
                    {
                        @:<option  value="@item.Id_Inmueble">@(item.Direccion)</option>
                    }
                </select>
                <span asp-validation-for="Id_Inquilino" class="text-danger"></span>
             </div>
             <div class="form-group">
                <label class="control-label">Inquilino</label>
                <select class="form-control" name="Id_Inquilino">
                    @foreach (var item in listaInquilinos)
                    {
                        @:<option value="@item.Id_Inquilino">@(item.Nombre + " " + item.Apellido)</option>
                    }
                </select>
                <span asp-validation-for="Id_Inquilino" class="text-danger"></span>
             </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>

